<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorate="~{leiaute/LeiautePadrao}">

<head>
	<title>Cadastro de usuário</title>
	<link rel="stylesheet" th:href="@{/css/vendors/icheck/all.css}" />
	
</head>

<body>
<div layout:fragment="conteudo">
	<section class="content-header">
	<h1>
		<span>Cadastro de usuário</span>
	</h1>
	<div class="breadcrumb">
		<a th:href="@{/usuarios}" class="btn btn-primary btn-xs">
			<i class="glyphicon glyphicon-search"></i>
			<span>Pesquisar usuários</span>
		</a>
	</div>
	</section>
	
	<section class="content">
		<form method="POST" th:object="${usuario}" th:action="@{/usuarios/novo}" class="form-vertical">
			<brewer:message />
			<div class="box">
				<div class="box-body">
						<div class="form-group bw-required" brewer:classforerror="nome">
							<label class="control-label" for="nome">Nome</label>
							<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
						</div>
						<div class="row">
							<div class="col-sm-6 form-group bw-required" brewer:classforerror="email">
								<label class="control-label" for="email">E-mail</label>
								<input id="email" type="text" class="form-control" th:field="*{email}"/>
							</div>
							<div class="col-sm-6 form-group" brewer:classforerror="dataNascimento">
								<label class="control-label" for="dataNascimento">Data de nascimento</label>
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control pull-right js-date" autocomplete="off"
											id="dataNascimento" th:field="*{dataNascimento}">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group" brewer:classforerror="senha"
									th:classappend="${usuario.novo} ? bw-required">
								<label  class="control-label" for="senha">Senha</label>
								<input id="senha" type="password" class="form-control" th:field="*{senha}"/>
							</div>
							
							<div class="col-sm-4 form-group" brewer:classforerror="confirmacaoSenha">
								<label for="confirmacaoSenha">Confirmação de senha</label>
								<input id="confirmacaoSenha" type="password" class="form-control" th:field="*{confirmacaoSenha}"/>
							</div>
							<div class="col-sm-4 form-group">
								<label for="status" class="control-label">Status</label>
								<div class="checkbox" style="margin-top:5px;margin-left:-19px">
									<label>
										<input type="checkbox"id="status" th:field="*{ativo}">
										<span>Ativo</span>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-group bw-required" brewer:classforerror="grupos">
								<label>Grupos</label>
								<div class="checkbox" style="margin-top:5px;margin-left:-19px">
									<th:block th:each="grupo : ${grupos}">
										<label>
											<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}">
											<span th:text="${grupo.nome}"></span>
										</label>
									</th:block>
									
								</div>
							</div>
						</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</form>						
	</section>
</div>
<th:block layout:fragment="~{javascrit-extra}">
	<script th:src="@{/js/vendors/icheck.js}"></script>
	
	<script>
	$(':checkbox').iCheck({
		checkboxClass: 'icheckbox_flat-blue',
		radioClass   : 'iradio_flat-blue'
	});

	</script>
</th:block>		
</body>
</html>