<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorate="~{leiaute/LeiautePadrao}">

<head>
	<title>Cadastro de cidade</title>
</head>

<body>
<div layout:fragment="conteudo">
	<section class="content-header">
	<h1>
		<span>Cadastro de cidade</span>
	</h1>
	<div class="breadcrumb">
		<a th:href="@{/cidades}" class="btn btn-primary btn-xs">
			<i class="glyphicon glyphicon-search"></i>
			<span>Pesquisar cidades</span>
		</a>
	</div>
	</section>
	
	<section class="content">
		<form method="POST" th:object="${cidade}" th:action="@{/cidades/novo}" class="form-vertical">
			<brewer:message />
			<div class="box">
				<div class="box-body">
						<div class="row">
							<div class="col-sm-4 form-group bw-required" brewer:classforerror="estado">
								<label class="control-label" for="estado">Estado</label>
								<select id="estado" class="form-control" th:field="*{estado}" >
									<option value=>Selecione um estado</option>
									<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
								</select>
							</div>
							<div class="col-sm-8 form-group bw-required" brewer:classforerror="nome">
								<label class="control-label" for="cidade">Cidade</label>
								<input id="cidade" type="text" class="form-control" th:field="*{nome}"/>
							</div>
						</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</form>						
	</section>
</div>
</body>
</html>