<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{leiaute/LeiautePadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Pesquisa de cidades</title>
	<link rel="stylesheet" th:href="@{/css/vendors/table-fixed-header.css}" />
</head>
<body>
<div layout:fragment="conteudo">
	<section class="content-header">
	<h1>
		<span>Pesquisa de cidades</span>
	</h1>
	<div class="breadcrumb">
		<a th:href="@{/cidades/novo}" class="btn btn-primary btn-xs" 
				th:classappend="${not #authorization.expression('hasRole(''ROLE_CADASTRAR_CIDADE'')')} ? disabled">
			<i class="glyphicon glyphicon-plus"></i>
			<span>Nova cidade</span>
		</a>
 	</div>
	</section>
	<section class="content">
		<form method="GET" th:object="${cidadeFilter}" class="form-vertical">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-sm-4 form-group">
							<label class="control-label" for="estado">Estado</label>
							<select id="estado" class="form-control" th:field="*{estado}" >
								<option value=>Todos os estados</option>
								<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
							</select>
						</div>
						<div class="col-sm-8 form-group">
							<label class="control-label" for="cidade">Cidade</label>
							<input id="cidade" type="text" class="form-control" th:field="*{nome}"/>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
				</div>
			</div>
		</form>
		<div class="box">
			<div class="box-body">
				<div class="table-responsive bw-tabela-simples">
					<table class="table table-hover table-fixed-header">
						<thead class="header">
							<tr>
								<th class="table-cidades-col-nome">
									<brewer:order page="${pagina}" field="nome" text="Nome"/>
								</th>
								<th class="table-cidades-col-estado">
									<brewer:order page="${pagina}" field="estado" text="Estado"/>
								</th>
								<th class="table-cidades-col-acoes"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cidade : ${pagina.conteudo}">
								<td th:text="${cidade.nome}"></td>
								<td class="text-right" th:text="${cidade.estado.nome}"></td>
								<td class="text-center">
									<a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
											th:classappend="${not #authorization.expression('hasRole(''ROLE_CADASTRAR_CIDADE'')')} ? disabled"> 
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
									<a class="btn  btn-link  btn-xs js-tooltip" title="Excluir"
											th:classappend="${not #authorization.expression('hasRole(''ROLE_CADASTRAR_CIDADE'')')} ? disabled">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
							<tr th:if="${pagina.vazia}">
								<td colspan="4">Nenhuma cidade encontrada</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box-footer clearfix" th:if="${not pagina.vazia}">
				<div class="col-sm-12 text-center">
					<brewer:pagination page=${pagina}/>
				</div>	
            </div>
		</div>		
	</section>
</div>
<th:block layout:fragment="~{javascrit-extra}">
	<script th:src="@{/js/vendors/table-fixed-header.js}"></script>
	<script>
		$('.table-fixed-header').fixedHeader();
	</script>
</th:block>		
		
</body>
</html>	