<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>


<aside class="main-sidebar" th:fragment="menu">
	<section class="sidebar">
	<ul class="sidebar-menu" data-widget="tree">
		<li class="header">MENU DE NAVEGAÇÃO</li>
		
		<li><a th:href="@{/home}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
		
		
		<li class="treeview">
		<a href="#">
			<i class="fa fa-credit-card"></i>
			<span>Vendas</span>
			<span class="pull-right-container">
			<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li><a th:href="@{/vendas/nova}"><i class="fa fa-circle-o"></i> Nova venda</a></li>
			<li><a th:href="@{/vendas}"><i class="fa fa-circle-o"></i> Pesquisa de vendas</a></li>
		</ul>
		</li>
		
		<li class="treeview">
		<a href="#">
			<i class="fa fa-truck"></i>
			<span>Estoque</span>
			<span class="pull-right-container">
			<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li><a th:href="@{/estilos}"><i class="fa fa-circle-o"></i> Estilos</a></li>
			<li><a th:href="@{/cervejas}"><i class="fa fa-circle-o"></i> Cervejas</a></li>
		</ul>
		</li>
		<li class="treeview">
		<a href="#">
			<i class="fa fa-database"></i>
			<span>Cadastros</span>
			<span class="pull-right-container">
			<i class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
		<ul class="treeview-menu">
			<li><a th:href="@{/cidades}"><i class="fa fa-circle-o"></i> Cidades</a></li>
			<li><a th:href="@{/clientes}"><i class="fa fa-circle-o"></i> Clientes</a></li>
			<li><a th:href="@{/usuarios}"><i class="fa fa-circle-o"></i> Usuários</a></li>
		</ul>
		</li>
	</ul>
	</section>
</aside>

</body>
</html>	