<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{leiaute/LeiautePadrao}">

<head>
	<title>Cadastro de estilo</title>
</head>

<body>
<div layout:fragment="conteudo">
	<section class="content-header">
	<h1>
		<span>Cadastro de estilo</span>
	</h1>
	<div class="breadcrumb">
	<button type="button" class="btn btn-primary btn-xs">Default</button>
	<a href="#" class="btn btn-primary btn-xs">Voltar</a>
	</div>
	</section>
	
	<section class="content">
		<th:block th:include="~{fragmentos/MensagemSucesso :: mensagemSucesso}"></th:block>
		<form method="post" class="form-vertical" th:object="${estilo}">
			<th:block th:include="~{fragmentos/MensagensErroValidacao :: mensagemErro}"></th:block>
			<div class="box">
				<div class="box-body">
					<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label  class="control-label" for="nome">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
					<a href="#" class="btn btn-primary btn-xs">Voltar</a>
				</div>
			</div>
		</form>						
	</section>
</div>
</body>
</html>