<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{leiaute/LeiautePadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
	<title>Cadastro de estilo</title>
</head>

<body>
<div layout:fragment="conteudo">
	<section class="content-header">
		<h1>
			<span>Cadastro de estilo</span>
		</h1>
	<div class="breadcrumb">
		<a th:href="@{/estilos}" class="btn btn-primary btn-xs">
			<i class="glyphicon glyphicon-search"></i>
			<span>Pesquisar cervejas</span>
		</a>	</div>
	</section>
	
	<section class="content">
		<form method="post" class="form-vertical" th:object="${estilo}">
			<brewer:message />
			<div class="box">
				<div class="box-body">
					<div class="form-group" brewer:classforerror="nome">
						<label  class="control-label" for="nome">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</div>
		</form>						
	</section>
</div>
</body>
</html>