<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorate="~{leiaute/LeiautePadrao}"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro de venda</title>
	<link rel="stylesheet" th:href="@{/css/vendors/easy-autocomplete.css}" />
</head>

<body>
<div layout:fragment="conteudo">
	<section class="content-header">
	<h1>
		<span>Cadastro de venda</span>
	</h1>
	<div class="breadcrumb">
		<a th:href="@{/vendas}" class="btn btn-primary btn-xs">
			<i class="glyphicon glyphicon-search"></i>
			<span>Pesquisar vendas</span>
		</a>
	</div>
	</section>
	
	<section class="content">
		<form method="POST" th:action="@{/vendas/nova}" th:object="${venda}" class="form-vertical">
			<brewer:message />
			<input type="hidden" id="uuid" th:field="*{uuid}">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="small-box bg-aqua">
								<div class="inner">
									<h3>R$<span class="js-valor-total-box" th:text="${{venda.valorTotal}}">0,00</span></h3>
									<p>Total</p>
								</div>
								<div class="icon">
									<i class="fa fa-usd fa-07x"></i>
								</div>
								<span class="small-box-footer js-footer-box"></span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="small-box bg-aqua">
								<div class="inner">
									<h3>Orçamento</h3>
									<p>Status</p>
								</div>
								<div class="icon">
									<i class="fa fa-tag fa-07x"></i>
								</div>
								<span class="small-box-footer"></span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="small-box bg-aqua">
								<div class="inner">
									<h3>Hoje</h3>
									<p>Criação</p>
								</div>
								<div class="icon">
									<i class="fa fa-calendar fa-07x"></i>
								</div>
								<span class="small-box-footer"></span>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="form-group col-sm-4 bw-required" brewer:classforerror="cliente.codigo">
							<label class="control-label" for="nomeCliente">Cliente</label>
							<div class="input-group">
								<input id="nomeCliente" type="text" readonly="readonly" th:field="*{cliente.nome}" 
										class="form-control" placeholder="Clique na lupa para pesquisar o cliente"/>
								<input id="codigoCliente" type="hidden" th:field="*{cliente}"/>
								<span class="input-group-btn">
									<button class="btn btn-default js-tooltip" type="button" title="Pesquisa avançada"
											data-toggle="modal" data-target="#pesquisaRapidaClientes">
									<i class="glyphicon glyphicon-search"></i>
								</button>
								</span>
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label class="control-label" for="valorFrete">Valor do frete</label>
							<div class="input-group">
							<div class="input-group-addon">R$</div> 
								<input type="text" maxlength="14" class="form-control js-decimal"
										id="valorFrete" th:field="*{valorFrete}" data:valor="${valorFrete}"/>
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label class="control-label" for="valorDesconto">Valor do desconto</label>
							<div class="input-group">
						   				<div class="input-group-addon">R$</div>
								<input type="text" maxlength="14" class="form-control js-decimal"
										id="valorDesconto" th:field="*{valorDesconto}" data:valor="${valorDesconto}"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-lg-12">
							<ul class="nav nav-tabs js-abas-venda">
								<li role="presentation" class="active">
									<a href="#cervejas">Cervejas</a>
								</li>
								<li role="presentation">
									<a href="#entrega">Entrega</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="tab-content">
						<div class="tab-pane active" id="cervejas">
							<div class="row">
								<div class="form-group col-lg-12">
									<input type="text" class="form-control js-sku-nome-cerveja-input" id="cerveja"
											placeholder="Pesquise e adicione a cerveja pelo SKU ou nome"
											autofocus="autofocus" data:url="@{/cervejas}"/>
								</div>
							</div>
							<div class="bw-tabela-cervejas js-tabela-cervejas-container" data:valor="${valorTotalItens}">
								<th:block th:replace="~{venda/TabelaItensVenda}" />
							</div>
						</div>

						<div class="tab-pane" id="entrega">
							<div class="row">
								<div class="form-group col-sm-3" brewer:classforerror="dataEntrega">
									<label class="control-label" for="dataEntrega">Data da entrega</label>
									<input type="text" class="form-control" id="dataEntrega" th:field="*{dataEntrega}"/>
								</div>
								<div class="form-group col-sm-3">
									<label class="control-label" for="horarioEntrega">Horário de entrega</label>
									<input type="text" class="form-control"	id="horarioEntrega" th:field="*{horaEntrega}"/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12">
									<textarea class="form-control" id="dataEntrega" rows="5" th:field="*{observacao}"
											placeholder="Alguma observação para o entregador desse pedido?"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<div class="row" style="clear: both">
						<div class="col-lg-12">
							<div class="btn-group">
								<button type="submit" class="btn btn-primary">Salvar</button>
								<button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Salvar e emitir</a>
									</li>
									<li>
										<a href="#">Salvar e enviar por e-mail</a>
									</li>
								</ul>
							</div>
							<button class="btn btn-danger">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<th:block th:replace="~{cliente/PesquisaRapidaClientes :: pesquisaRapidaClientes}"></th:block>
		<th:block th:replace="~{hbs/TemplateAutocompleteCerveja}"></th:block>
	</section>
</div>
<th:block layout:fragment="~{javascrit-extra}">
	<script th:src="@{/js/vendors/handlebars.js}"></script>
	<script th:src="@{/js/vendors/jquery.easy-autocomplete.js}"></script>
	<script th:src="@{/js/cliente.pesquisa-rapida.js}"></script>
	<script th:src="@{/js/venda.autocomplete-itens.js}"></script>
	<script th:src="@{/js/venda.tabela-itens.js}"></script>
	<script th:src="@{/js/venda.js}"></script>
	<script>
	$(function() {
		$('.js-abas-venda a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
</th:block>		
</body>
</html>