<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{leiaute/LeiautePadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
	<title>Pesquisa de vendas</title>
	<link rel="stylesheet" th:href="@{/css/vendors/table-fixed-header.css}" />
</head>
<body>
<div layout:fragment="conteudo">
	<section class="content-header">
	<h1>
		<span>Pesquisa de vendas</span>
	</h1>
	<div class="breadcrumb">
		<a th:href="@{/vendas/nova}" class="btn btn-primary btn-xs" >
			<i class="glyphicon glyphicon-plus"></i>
			<span>Nova venda</span>
		</a>
 	</div>
	</section>
	<section class="content">
		<form method="GET" th:object="${vendaFilter}" class="form-vertical">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-sm-6 form-group">
							<label class="control-label" for="codigo">Código</label>
							<input id="codigo" type="text" class="form-control js-plain" autofocus="autofocus" th:field="*{codigo}"/>
						</div>
						<div class="col-sm-6 form-group">
							<label class="control-label" for="status">Status</label>
							<select id="status" class="form-control select2" style="width: 100%" th:field="*{status}">
								<option value="">Todos os status</option>
								<option th:each="status : ${todosStatus}" th:value="${status}" th:text="${status.descricao}">Pale Lager</option>
							</select>
						</div>
					</div>
						
					<div class="row">
						<div class="col-sm-6 form-group">
							<label class="control-label" for="dataCriacaoDe">Data de criação</label>
							<div class="form-inline">
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control js-date" autocomplete="off"
											id="dataCriacaoDe" th:field="*{desde}">
								</div>
								<label for="dataCriacaoAte" class="bw-form-label-between">até</label>
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control js-date" autocomplete="off"
											id="dataCriacaoAte" th:field="*{ate}">
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 form-group">
							<label class="control-label" for="valorMinimo">Valor total</label>
							<div class="form-inline">
								<input type="text" class="form-control js-decimal" autocomplete="off"
										id="valorMinimo" th:field="*{valorMinimo}">
								<label for="valorMaximo" class="bw-form-label-between">até</label>
								<input type="text" class="form-control js-decimal" autocomplete="off"
										id="valorMaximo" th:field="*{valorMaximo}">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 form-group">
							<label class="control-label" for="nomeCliente">Nome Cliente</label>
							<input id="nomeCliente" type="text" class="form-control" autofocus="autofocus" th:field="*{nomeCliente}"/>
						</div>
						<div class="col-sm-6 form-group">
							<label class="control-label" for="cpfOuCnpjCliente">CPF/CNPJ</label>
							<input id="cpfOuCnpjCliente" type="text" class="form-control" th:field="*{cpfOuCnpjCliente}"/>
						</div>
					</div>			
					
					
				</div>
					<div class="box-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
				</div>
				
			</div>
		</form>
		<div class="box">
			<div class="box-body">
				<div class="table-responsive bw-tabela-simples">
					<table class="table table-hover table-fixed-header">
						<thead class="header">
							<tr>
								<th>
									<brewer:order page="${pagina}" field="codigo" text="#"/>
								</th>
								<th>
									<brewer:order page="${pagina}" field="cliente.nome" text="Cliente"/>
								</th>
								<th><brewer:order page="${pagina}" field="dataCriacao" text="Data de criação"/></th>
								<th>
									<brewer:order page="${pagina}" field="valorTotal" text="Valor total"/>
								</th>
								<th>
									<brewer:order page="${pagina}" field="usuario.nome" text="Vendedor"/>
								</th>
								<th>Status</th>
								<th class="table-col-acoes"></th>
						</thead>
						<tbody>
							<tr th:each="venda : ${pagina.conteudo}">
								<td th:text="${venda.codigo}"></td>
								<td th:text="${venda.cliente.nome}"></td>
								<td th:text="${{venda.dataCriacao}}"></td>
								<td th:text="|R$${{venda.valorTotal}}|"></td>
								<td th:text="${venda.usuario.nome}"></td>
								<td th:text="${venda.status.descricao}"></td>
								<td class="text-center">
									<a class="btn  btn-link  btn-xs js-tooltip" title="Editar"> 
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
									<a class="btn  btn-link  btn-xs js-tooltip" title="Excluir">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
							<tr th:if="${pagina.vazia}">
								<td colspan="7">Nenhum venda encontrado</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box-footer clearfix" th:unless="${pagina.vazia}">
				<div class="col-sm-12 text-center">
					<brewer:pagination page=${pagina}/>
				</div>	
	        </div>
		</div>		
		
		
	</section>
</div>
<th:block layout:fragment="~{javascrit-extra}">
	<script th:src="@{/js/multiselecao.js}"></script>
	<script th:src="@{/js/vendors/select2.full.js}"></script>
	<script th:src="@{/js/vendors/table-fixed-header.js}"></script>
	<script>
		$('.table-fixed-header').fixedHeader();

		$('#status').select2();
	</script>
</th:block>		
		
</body>
</html>	